html {
  margin: 10px;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;

}

ul {
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
    margin: 10px
}

p {
  margin: 0;
  padding: 0;
}